
## temporary files
*~
*.asv
*.#*
*.mx
## image files
*.png
*.svg
*.pdf
*.gif
*.tif
*.jpg
*.eps
*.ps
*.pdf

## video files
*.avi
*.mp4
## build files
*.aux
*.log
*.out
*.synctex.gz
*.toc


## data files
*.mat
*.bin

## build directories
*.ii
*.s
*.cc
*.mexa64
*.mexw64
&.mexmaci64
*.o
*.hh
*.pdb
*.9
## temp files from adigator
#.DS_Store

## build files from ADiMAT
#.adimat/
#g_*.m


.dropbox

example/minitaur/
