*.txt
*.mx
gen/
local/
## temporary files
*~
*.asv
*.#*

## image files
*.png
*.svg
*.pdf
*.gif
*.tif
*.jpg
*.eps
*.ps
*.pdf

## video files
*.avi
*.mp4
## build files
*.aux
*.log
*.out
*.synctex.gz
*.toc


## data files
*.bin

## build directories
*.ii
*.s
*.cc
*.mexa64
*.mexw64
&.mexmaci64
*.o
*.hh
## temp files from adigator
#.DS_Store

## build files from ADiMAT
#.adimat/
#g_*.m

/export/
/gaits/

.dropbox
